@media only screen and (max-width: 992px) {
    .nav-link::before{
        bottom: 0px;
        height: 5px; 
        
      
    }


}
@media only screen and (max-width: 768px) {
    .navbarImg{
        width: 100px;
    }
    .signup{
        margin-bottom: 20px;
    }

    .vaccine-reg-text{
        font-size: 20px;
    }

    .linecall{
        border-right: 0;
       
    }
    .linecall-1{
       
        border-bottom: 0.5px solid rgba(0,0,0,0.5);;
    }

     .call{
    
       
       top:50px
    }
    .shadow-call{
        box-shadow:0px 3px 3px 0px rgb(0 0 0 / 10%)
    }
  
    .rule-title{
        font-size: 22px;
    }

    .mujib-img{
        width: 200px;
        height: 150px;
    }
    
}    