@media only screen and (max-width: 992px) {
    .nav-link::before{
        bottom: 0px;
        height: 5px; 
        
      
    }


}
@media only screen and (max-width: 768px) {
    .navbarImg{
        width: 100px;
    }
    .signup{
        margin-bottom: 20px;
    }

    .vaccine-reg-text{
        font-size: 20px;
    }

  
  
}    