*{
    font-family: 'AdorshoLipi', sans-serif;

}

.navbar{
    overflow: hidden;
}

.nav-link{
    position: relative;
    cursor: pointer;

}

.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -35px;
    background: #092753;
    height: 10px; 
    transform: scaleX(0);  
  
}
.nav-link:hover::before{
    transform: scaleX(1);
    transition: 0.6s;
}


.surokkha-nav-link li a{
    font-size: 14px;
} 

.navbarbg{
    background-color: #f9fbff;
}
.navbtn{
    background: #f26d3e!important;
    color: white!important;
} 
.active{
    font-weight: bold;
    color: dodgerblue!important;
}

.bg2{
    background-color:darkslategrey;
}

.bg2 ul li a{
    color:white!important;
} 

.navbarImg{
    width: 200px;
} 

.line-1{
    position: relative;
    cursor: pointer;
}
.line-1::after{
    
   content: '';
    position: absolute;
    background-color: #092753;
    height: 10px;
    bottom: 0;
    left: 50px;
    right: 50px; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}

.line-2{
     
    position: absolute;
    width: 10px;
    bottom: 10px;
    top:10px;
    left: 0;
    border-radius: 0 4px 4px 0;

}

.shadow-call{
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
}




.registration{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20200328/pngtree-virus-vaccine-reagent-bottle-background-image_332907.jpg");
    background-position: center top;
    background-attachment:fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
}

.reg-row{
    min-height: 600px;
} 

.icon-bg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:lightgray;
}

.icon-bg{
    position: relative;
}

.icon-bg i{
    position: absolute;
    top:5px;
    position: absolute;
    top: 10px;
    left: 12px;
    color: green;

}

.call{
    position:relative;
    bottom: 50px;
    z-index: 1;
}

.linecall{
   position: relative;
   border-right: 0.1px solid rgba(0, 0, 0,0.3);

}




.registration::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background:linear-gradient(90deg,rgb(255, 175, 55) 30%,rgb(238, 189, 117)100%);
    opacity: 0.8;
}

.vaccine-reg-text{
    font-size: 25px;
    color:darkblue;
    font-weight: bold;
}
 .signup{
     margin-bottom: 80px;
 }

 .status{
     background-color: white;
      
 }
 .vaccine-text{
    font-size: 18px;
    color:darkblue;
    font-weight: bold;
}

.card-sign:hover{
    background-color: #daedff;;
    transition: 1s;
}

.stat-hover-1:hover div{
background-color: #dfffda;
transition: 1s;
}
.stat-hover-2:hover div{
    background-color: #feffda;;
    transition: 1s;
}
.stat-hover-3:hover div{
    background-color: #dafff2;
    transition: 1s;
}

.stat-hover-4:hover div{
    background-color: #dafff6;
    transition: 1s;
}


.rules-text{
    font-size: 15px;
}

.shadow-rules{
    box-shadow:
    0 4px 4px hsl(0deg 0% 73% / 25%);
}

.card-header{
    position: relative;
}

.title-card-rule::before{
   content: '';
   position: absolute;
   left: 25px;
   top: 20px;
   bottom: 20px;
   width: 5px;
   background-color: red;

}


.footer{
    background:#f26d3e;
    overflow: hidden;
}

.list-items-1{
    font-size: 12px;
    color:white;
    font-weight: bold;
    cursor: pointer;
}





